<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Este es el sitio web del podcast Connectast a en el que encontrarás episodios, fechas de eventos nerds y mucho más">
    <meta name="keywords"  content="PODCAST, NERDS, GEEK, GAMES, JUEGOS, PELICULAS, SERIES, EVENTOS NERDS, EVENTOS GAMES">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css"> 
    <title>Episodios</title> 
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark text-uppercase bgSection px-5 py-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">🎙︁ ConnectCast</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-dark text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-3 rounded" href="#">EPISODIOS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-3 rounded" href="./quiensomos.html">QUIEN SOMOS</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-3 rounded" href="./eventos.html">Eventos</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-1 px-0 px-lg-3 rounded" href="./contacto.html">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        
        <main>
            <div class="container-fluid py-1 px-2">
                <h1 class="col-12 text-center m-4 titulo-principal">EPISODIOS</h1>  
                </div>
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/Banner-Slider/banner-marvel.jpg" class="d-block w-100" alt="Imagen Banner de Marvel">
                </div>
                <div class="carousel-item">
                    <img src="../img/Banner-Slider/banner-1.jpg" class="d-block w-100" alt="Imagen Banner de The laste of us part II">
                </div>
                <div class="carousel-item">
                    <img src="../img/Banner-Slider/banner-pixar.jpg" class="d-block w-100" alt="Imagen Banner de Pixar Studios">
                </div>
                <div class="carousel-item">
                    <img src="../img/Banner-Slider/banner-got.jpg" class="d-block w-100" alt="Imagen Banner de Game Of Thrones">
                </div>
                <div class="carousel-item">
                    <img src="../img/Banner-Slider/banner-matrix.jpg" class="d-block w-100" alt="Imagen Banner de Matrix">
                </div>
                <div class="carousel-item">
                    <img src="../img/Banner-Slider/banner-cuphead.jpg" class="d-block w-100" alt="Imagen Banner del Juego CUP HEAD">
                </div>
                </div>
            </div>
            <section class="container-fluid">
                <div class="row gap-5 justify-content-center py-4 bg-transparent">
                <div class="card text-center col-10 col-sm-5 col-md-3 pt-3">
                    <img src="../img/Icons/ConnectCast.jpg" class="card-img-top img-fluid" alt="Imagen del logotipo del podcast - ConnectCast" />
                    <div class="card-body">
                        <h5 class="card-title text-dark text-uppercase">ConnectCast.S01E01</h5>
                        <p class="card-text text-dark"> The last of Us <br> Dilemas de Ellie y Abby</p>
                        <a href="./episodio.html" class="btn btn-dark">Escuchar <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="card text-center col-10 col-sm-5 col-md-3 pt-3">
                    <img src="../img/Icons/ConnectCast.jpg" class="card-img-top img-fluid" alt="Imagen del logotipo del podcast - ConnectCast" />
                    <div class="card-body">
                        <h5 class="card-title text-dark text-uppercase">ConnectCast.S01E02</h5>
                        <p class="card-text text-dark">Teoria Pixar <br> Jon Negroni</p>
                        <a href="./episodio.html" class="btn btn-dark">Escuchar <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="card text-center col-10 col-sm-5 col-md-3 pt-3">
                    <img src="../img/Icons/ConnectCast.jpg" class="card-img-top img-fluid" alt="Imagen del logotipo del podcast - ConnectCast" />
                    <div class="card-body">
                        <h5 class="card-title text-dark text-uppercase">ConnectCast.S01E03</h5>
                        <p class="card-text text-dark">Marvel Studios <br> 10 años</p>
                        <a href="./episodio.html" class="btn btn-dark">Escuchar <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="card text-center col-10 col-sm-5 col-md-3 pt-3">
                    <img src="../img/Icons/ConnectCast.jpg" class="card-img-top img-fluid" alt="Imagen del logotipo del podcast - ConnectCast" />
                    <div class="card-body">
                        <h5 class="card-title text-dark text-uppercase">ConnectCast.S01E04</h5>
                        <p class="card-text text-dark">Matrix <br> Recurso didactico en filosofia</p>
                        <a href="./episodio.html" class="btn btn-dark">Escuchar <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="card text-center col-10 col-sm-5 col-md-3 pt-3">
                    <img src="../img/Icons/ConnectCast.jpg" class="card-img-top img-fluid" alt="Imagen del logotipo del podcast - ConnectCast" />
                    <div class="card-body">
                        <h5 class="card-title text-dark text-uppercase">ConnectCast.S01E05</h5>
                        <p class="card-text text-dark">Game Of Thrones <br> Los Dilemas de Daenerys Targaryen</p>
                        <a href="./episodio.html" class="btn btn-dark">Escuchar <i class="fa fa-play"></i></a>
                    </div>
                </div>
                <div class="card text-center col-10 col-sm-5 col-md-3 pt-3">
                    <img src="../img/Icons/ConnectCast.jpg" class="card-img-top img-fluid" alt="Imagen del logotipo del podcast - ConnectCast" />
                    <div class="card-body">
                        <h5 class="card-title text-dark text-uppercase">ConnectCast.S01E06</h5>
                        <span class="new">
                            Nuevo episodio
                        </span>
                        <p class="card-text text-dark">Juego Cup Head <br> Vendí mi alma al diablo!</p>
                        <a href="./episodio.html" class="btn btn-dark">Escuchar <i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
        </section>
        </main>

<script src="https://use.fontawesome.com/8e59f484ab.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>